body{
    background-color: #EBEBD3;
}

button:hover{
    cursor: pointer;
    background-color: lightblue;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

button{
    background-color:  #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-family: "Feather Bold";
    font-size: 12px;
    border-radius: 30px;
    margin-left: 2%;
    border: none;
}

.h1{
    margin: auto;
    width: 50%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Roboto';
}

#div1 {
    margin: auto;
    width: 50%;
    border: 3px solid #E89005;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    background-color: #E89005;
  }

#img1{
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}